PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=restaurant_reservations
DB_SYNC=true
DB_LOGGING=true

JWT_SECRET=super_secret_key_change_this
# JWT expires in 24 hours (86400 seconds)
JWT_EXPIRES_IN=86400